@font-face {
	font
}



.top_bar {
	min-width: 1050;
	height: 40px;
	background-color: #3498db;
	border-bottom: 5px solid #2980b9;
	display: inline-flex;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}
nav  {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a: hover {
	border-bottom: 7px solid #1abc9c;
}